body {
  margin: 0;
  padding: 0;
  font: Roboto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 300px;
}

.link {
  display: flex;
  gap: 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.awesome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 300;
}

.placeholder {
  display: flex;
  width: 550px;
  height: 250px;
  background-color: grey;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.image-block {
  display: flex;
  font-size: 18px;
  gap: 50px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 190px;
  margin-bottom: 75px;
}

.image {
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 180px;
  height: 180px;
  margin: 0;
  justify-content: center;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.quote-text {
  display: flex;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  width: 850px;
  margin: 0;
  padding: 80px;
}

.thor {
  font-size: 18px;
  font-weight: 900;
  width: 900px;
  height: 20px;
  margin-top: -80px;
  padding-bottom: 50px;
  text-align: right;
}

.action {
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  color: #e5e7eb;
  width: 900px;
  margin: 75px;
  padding: 25px 50px;
}

.action-1 {
  font-size: 18px;
  font-weight: 900;
  color: #e5e9eb;
  margin-left: 40px;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 25px;
  border: 1px solid #e5e9eb;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 15px;
  text-align: center;
  padding: 30px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e9eb;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-secondary,
.placeholder {
  font-size: 18px;
  color: #e5e9eb;
  margin: 0;
}

.hero-logo {
  font-size: 24px;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #f9faf8;
  padding: 8px 24px;
  align-self: flex-start;
  margin-top: 10px;
}
